@import url(http://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic-ext,cyrillic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-color: wite;
  font-family: 'Open Sans';
  padding-top: 12px; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.vfix:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%; }

.wrapper {
  padding: 0 0;
  max-width: 1000px;
  margin: 0 auto; }

.wrapper-big {
  padding: 0 0;
  max-width: 1920px;
  margin: 0 auto; }

.call-back {
  float: right;
  margin-top: 8px; }

.call-back_phone {
  text-decoration: none;
  font-size: 21px;
  color: black; }

.call-back_link {
  border: 2px solid #ec2026;
  text-transform: uppercase;
  font-size: 13px;
  color: #ec2026;
  padding: 9px 20px; }

.main-text {
  text-align: center;
  color: #333333;
  margin-top: 40px; }
  .main-text_1 {
    font-size: 74px;
    font-weight: bold;
    text-transform: uppercase; }
  .main-text_2 {
    font-size: 27px;
    font-weight: bold;
    text-transform: uppercase; }
  .main-text_3 {
    font-size: 23px; }

.main-text_why {
  text-align: center;
  color: #333333;
  font-size: 61px;
  text-transform: uppercase;
  margin-top: 1300px; }

.big-img {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  z-index: -1;
  margin-top: 20px; }

.line-img {
  position: absolute;
  top: 160px;
  opacity: 0.6; }
