* {
<<<<<<< HEAD
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1920px; }
=======
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
>>>>>>> jeka

html {
  height: 100%; }

body {
  min-height: 100%; }

<<<<<<< HEAD
.show-p {
  display: block; }
  @media (min-width: 50em) {
    .show-p {
      display: none; } }

@media (min-width: 37.5em) {
  .col-p-3x-b {
    width: 100%;
    float: left; }
  .col-p-3x-r {
    width: 100%;
    float: right; }
  .col-d-3x-l {
    width: 100%;
    float: left; } }

@media (min-width: 50em) {
  .col-t-3x-b {
    width: 54%;
    float: left; }
  .col-t-3x-r {
    width: 64%;
    float: right; }
  .col-d-3x-l {
    width: 64%;
    float: left; } }

@media (min-width: 64em) {
  .col-l-3x-b {
    width: 62%;
    float: left; }
  .col-l-3x-r {
    width: 70%;
    float: right; }
  .col-d-3x-l {
    width: 70%;
    float: left; } }

@media (min-width: 70em) {
  .col-d-3x-b {
    width: 63%;
    float: left; }
  .col-d-3x-r {
    width: 70%;
    float: right; }
  .col-d-3x-l {
    width: 70%;
    float: left; } }
=======
body {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  line-height: 1.148; }

@media (max-width: 64em) {
  .mobileonly {
    display: block;
    font-size: 12px; }
    .mobileonly .city {
      background-image: none; }
    .mobileonly .input {
      background-image: none; }
      .mobileonly .input_header {
        color: #f00; }
      .mobileonly .input_subheader {
        color: #f00;
        margin-bottom: 20px; }
      .mobileonly .input_bg {
        padding: 40px 120px; }
        .mobileonly .input_bg input {
          padding-left: 5px;
          width: 100%; }
    .mobileonly .case {
      background-image: none; }
      .mobileonly .case .postcard_response {
        margin-top: 10px; }
        .mobileonly .case .postcard_response_pic {
          float: left; }
        .mobileonly .case .postcard_response_text {
          padding-left: 100px; }
        .mobileonly .case .postcard_response_name {
          padding-left: 100px; }
    .mobileonly .sert {
      width: 100%;
      padding-top: 10px;
      text-align: center; }
    .mobileonly .wraper {
      padding-left: 5px;
      padding-right: 5px; }
    .mobileonly .block_header h2 {
      font-size: 24px; }
    .mobileonly .benefit {
      text-align: center; }
      .mobileonly .benefit_pic {
        margin-left: auto;
        margin-right: auto; } }

@media (min-width: 37.5em) and (max-width: 64em) {
  .tablet {
    display: block;
    font-size: 25px; }
    .tablet .wraper {
      padding-left: 35px;
      padding-right: 35px; }
    .tablet .block_header {
      margin-bottom: 30px; }
      .tablet .block_header h2 {
        font-size: 35px;
        margin-bottom: 5px;
        padding-top: 50px; }
    .tablet .postcard {
      text-align: center; }
      .tablet .postcard_text {
        text-align: left; }
      .tablet .postcard_response {
        text-align: left; } }

@media (min-width: 64em) {
  .desktop {
    display: block; }
    .desktop .input {
      padding-bottom: 80px; }
      .desktop .input_subheader {
        font-size: 37px; }
      .desktop .input_bg {
        padding-left: 35px;
        padding-right: 35px;
        margin-left: 20%;
        margin-right: 20%; }
      .desktop .input_form {
        margin-top: 70px;
        padding-top: 50px; }
        .desktop .input_form input {
          width: 100%; }
    .desktop .wraper .sliderarrows:nth-child(1) {
      float: left;
      left: 0;
      margin-left: 0; }
    .desktop .city {
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position-y: -260px;
      background-repeat: no-repeat; }
      .desktop .city_text {
        margin-left: 125px;
        line-height: 1.6;
        margin-top: 60px;
        margin-bottom: 100px; }
    .desktop .sert {
      float: left;
      margin-right: 30px;
      margin-left: 30px;
      max-width: 100%; }
    .desktop .case .sliderarrows {
      top: -115px; }
    .desktop .case .postcard {
      margin-bottom: 135px; }
      .desktop .case .postcard_pic {
        float: left;
        width: 500px;
        margin-right: 40px; }
      .desktop .case .postcard_text {
        line-height: 1.6; }
      .desktop .case .postcard_response_text {
        line-height: 1.6; }
    .desktop .col-3x {
      width: 33.33%;
      float: left;
      margin-bottom: 75px; }
    .desktop .wraper {
      padding-left: 24%;
      padding-right: 24%; }
    .desktop .text {
      padding-right: 45px;
      padding-left: 45px; }
    .desktop .benefit {
      text-align: center; }
      .desktop .benefit_pic {
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%; }
        .desktop .benefit_pic img {
          max-width: 100%; } }
>>>>>>> jeka

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

<<<<<<< HEAD
.font-family {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

.advantages
.mack {
  background-image: url("../img/mack.jpg");
  background-height: 1000px;
  background-width: 100%; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.advantages > .wrapper > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 61px;
  font-family: 'Open Sans', sans-serif; }

.line {
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  height: 15px;
  margin-bottom: 80px;
  background-position: center; }

.buyfactory {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, rgba(245, 246, 241, 0.09)), color-stop(50%, #f5f6f1), color-stop(90%, rgba(245, 246, 241, 0.09)), to(transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%); }

.contentb {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px; }

.textb {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 110px;
  display: block;
  float: left;
  text-align: right; }

.shadowb {
  background-image: url("../img/elipsb.png");
  height: 360px;
  width: 360px;
  float: none;
  position: relative; }
  @media (min-width: 50em) {
    .shadowb {
      float: right;
      margin: 25px 0; } }

.imgfactory {
  background-image: url("../img/imgfactory.jpg");
  width: 290px;
  height: 290px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 35px;
  bottom: 0; }

.redb {
  background-image: url("../img/redb.png");
  height: 140px;
  width: 140px;
  position: absolute;
  left: 0;
  margin-left: -25px;
  bottom: 0; }

.factory {
  background-image: url("../img/factory.png");
  width: 53px;
  height: 60px;
  position: absolute;
  margin-bottom: 37px;
  margin-left: 40px;
  bottom: 0; }

.textr {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 70px;
  display: block;
  float: left; }

.contentr {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  max-width: 100%; }

.shadowl {
  background-image: url("../img/elips.png");
  height: 282px;
  width: 282px;
  float: none;
  padding-left: 36px;
  padding-top: 27px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }
  @media (min-width: 50em) {
    .shadowl {
      float: left; } }

.imgcop {
  background-image: url("../img/cop.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.redl {
  background-image: url("../img/red.png");
  height: 108px;
  width: 108px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -18px; }

.cop {
  background-image: url("../img/cop.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 20px; }

.documents {
  height: 100%;
  background-color: #f2f4f3; }

.textl {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 70px;
  display: block;
  float: right;
  text-align: right; }

.contentl {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  max-width: 100%;
  text-align: right; }

.shadowr {
  background-image: url("../img/elips.png");
  height: 282px;
  width: 282px;
  float: none;
  padding-left: 16px;
  padding-top: 27px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }
  @media (min-width: 50em) {
    .shadowr {
      float: right; } }

.imgdocuments {
  background-image: url("../img/documents.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.redr {
  background-image: url("../img/red.png");
  height: 108px;
  width: 108px;
  position: absolute;
  bottom: 0;
  margin-left: -18px; }

.copstop {
  background-image: url("../img/copstop.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px; }

.imgarms {
  background-image: url("../img/arms.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.file {
  background-image: url("../img/file.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 30px; }

.advantages-right {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, rgba(245, 246, 241, 0.09)), color-stop(50%, #f5f6f1), color-stop(90%, rgba(245, 246, 241, 0.09)), to(transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%); }

.imgapartment {
  background-image: url("../img/apartment.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.sale30 {
  background-image: url("../img/sale30.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
  margin-left: 22px; }

.imgfeast {
  background-image: url("../img/feast.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.eat {
  background-image: url("../img/eat.png");
  width: 55px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 23px; }

.speak {
  height: 100%;
  background-color: #f2f4f3; }

.imgspeak {
  background-image: url("../img/speak.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.chat {
  background-image: url("../img/chat.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 21px;
  margin-left: 21px; }

.imgcalc {
  background-image: url("../img/calc.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.opt {
  background-image: url("../img/opt.png");
  width: 55px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 24px; }

.carry {
  height: 100%;
  background-color: #f2f4f3; }

.imgcarry {
  background-image: url("../img/carry.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.plane {
  background-image: url("../img/plane.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 23px;
  margin-left: 20px; }

@media (max-width: 37.5em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 1140px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 37.5em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 900px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 50em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 850px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 70em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 630px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (max-width: 37.5em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 900px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 37.5em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 770px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 50em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 750px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 70em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 470px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.bonus {
  font-size: 37px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px; }

@media (max-width: 37.5em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 37.5em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 50em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 70em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 555px; } }

.available > ul {
  list-style-type: none;
  padding-left: 45px; }

.available > ul > li:before {
  content: url("../img/a.jpg");
  position: relative;
  padding-right: 20px;
  vertical-align: text-bottom; }

@media (max-width: 37.5em) {
  .forms {
    text-align: center; } }

@media (min-width: 37.5em) {
  .forms {
    text-align: center; } }

@media (min-width: 50em) {
  .forms {
    text-align: center; } }

@media (min-width: 70em) {
  .forms {
    float: right;
    padding-right: 30px; } }

@media (max-width: 37.5em) {
  .forms > input {
    margin-top: 15px;
    width: 300px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 37.5em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 50em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 70em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

.forms > a {
  text-decoration: none;
  margin-top: 30px;
  font-size: 19px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: red;
  padding: 14px 26px;
  display: inline-block;
  border: none;
  margin-bottom: 50px; }

.line:before {
  content: url("../img/mack.png");
  /* with class ModalCarrot ??*/
  position: relative;
  /*or absolute*/
  margin-left: 1060px; }

.imgfeast:before {
  content: url("../img/sacura.png");
  /* with class ModalCarrot ??*/
  position: relative;
  /*or absolute*/
  margin-left: -560px; }
=======
.block_header {
  text-align: center;
  margin-bottom: 50px; }
  .block_header h2 {
    text-transform: uppercase;
    color: #333333;
    font-size: 61px;
    margin-bottom: 20px;
    padding-top: 80px; }
  .block_header .red-line {
    background-image: url("../images/red_line.png");
    background-repeat: no-repeat;
    height: 15px;
    background-position: center; }

.text {
  color: #333333;
  text-align: center;
  margin-bottom: 45px; }

.benefit {
  margin-bottom: 75px;
  margin: 0 10px; }
  .benefit_pic {
    width: 260px;
    -webkit-border-radius: 260px;
    -moz-border-radius: 260px;
    border-radius: 260px;
    background-color: #f2f2f2;
    padding-top: 19px;
    padding-left: 33px; }
  .benefit_text {
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 23px; }
    .benefit_text_subtext {
      font-size: 17px; }

.case {
  background-image: url("../images/casefon.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
  .case .postcard {
    background-color: white;
    padding: 10px 10px; }
    .case .postcard_pic {
      max-width: 100%; }
    .case .postcard_text {
      margin-top: 30px;
      margin-right: 20px; }
    .case .postcard_response {
      margin-top: 30px; }
      .case .postcard_response_pic {
        max-width: 100%;
        float: left;
        padding-right: 25px;
        margin-top: 5px; }
      .case .postcard_response_text {
        margin-bottom: 4px; }
      .case .postcard_response_name {
        color: #cc0000; }

.sliderarrows {
  position: relative;
  display: inline-block;
  left: 50%;
  margin-left: -42px; }
  .sliderarrows .l {
    float: left; }
  .sliderarrows .r {
    margin-left: 45px; }

a {
  display: block; }
  a:hover .arrow {
    border: 1px solid red; }
  a:hover .liner {
    background-color: red; }
  a:hover .linel {
    background-color: red; }
  a:hover .arrow_left:after {
    background-color: red; }
  a:hover .arrow_left:before {
    background-color: red; }
  a:hover .arrow_right:after {
    background-color: red; }
  a:hover .arrow_right:before {
    background-color: red; }

.arrow {
  position: relative;
  height: 40px;
  width: 40px;
  border: 1px solid black;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px; }
  .arrow_left:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 14px;
    left: 11px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .arrow_left:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 22px;
    left: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }
  .arrow .linel {
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: black;
    top: 18px;
    left: 12px; }
  .arrow_right:after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 14px;
    left: 17px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .arrow_right:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1px;
    background-color: black;
    top: 22px;
    left: 17px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  .arrow .liner {
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: black;
    top: 18px;
    left: 12px; }

.city {
  background-image: url("../images/cityfon.jpg"); }
  .city img {
    max-width: 100%; }

.input {
  background-image: url("../images/sofaroom.jpg");
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat; }
  .input_bg {
    background-color: rgba(0, 0, 0, 0.6); }
  .input_header {
    text-transform: uppercase;
    color: white;
    font-size: 61px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 85px; }
  .input_subheader {
    color: white;
    font-size: 61px;
    text-align: center; }
  .input_form input {
    margin-top: 15px;
    height: 37px;
    outline: none;
    border: none; }
  .input_form:focus {
    outline: none;
    border: 1px solid red; }
  .input_form a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    font-size: 19px;
    background-color: red;
    padding: 14px 26px;
    display: inline-block;
    border: none;
    margin-bottom: 50px; }
>>>>>>> jeka
@import "reset";
body{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.148;

}
@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 64em) { @content ; }
  }
    @else if $point == tablet {
     @media  (min-width: 37.5em) and (max-width: 64em) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 64em)  { @content ; }
  }
}
.mobileonly{
@include breakpoint(mobileonly){
display:block;
font-size: 12px;
.city{
  background-image: none;
}
.input{
  background-image: none;
  &_header{
    color:#f00;
  }
  &_subheader{
    color:#f00;
    margin-bottom: 20px;
  }
  &_bg{
    padding: 40px 120px;
    input{
      padding-left: 5px;
      width: 100%;
    }
  }
}
.case{
  background-image: none;
  .postcard{
    &_response{
      margin-top: 10px;
      &_pic{
        float: left;
      }
      &_text{
        padding-left: 100px;
      }
      &_name{
        padding-left: 100px;
      }
    }
  }
}
.sert{
  width: 100%;
  padding-top: 10px;
  text-align: center;
}

.wraper{
  padding-left: 5px;
  padding-right: 5px;
}
.block_header{
  h2{
    font-size: 24px;
  }
  }
.benefit{
  text-align: center;
  &_pic{
    margin-left: auto;
    margin-right: auto;
  }
}
}
}
.tablet{
@include breakpoint(tablet){
display:block;
font-size:25px;
.wraper{
  padding-left: 35px;
  padding-right: 35px;
}
.block_header{
  margin-bottom: 30px;
  h2{
    font-size: 35px;
    margin-bottom: 5px;
    padding-top: 50px;
  }
  }
.postcard{
  text-align: center;
  &_text{
    text-align: left;
  }
  &_response{
    text-align: left;
  }
  }
}
}
.desktop{
@include breakpoint(desktop){
.input{
  padding-bottom: 80px;
  &_subheader{
    font-size: 37px;
  }
  &_bg{
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 20%;
    margin-right: 20%;
  }
  &_form{
    margin-top: 70px;
    padding-top:50px;
    input{ 
      width: 100%;
    }
  }
  }
display: block;
.wraper{
.sliderarrows:nth-child(1){
  float: left;
  left: 0;
  margin-left: 0;
}
}
.city{
  background-size: cover;
  background-position-y: -260px;
  background-repeat: no-repeat;
  &_text{
  margin-left: 125px;
  line-height: 1.6;
  margin-top: 60px;
  margin-bottom: 100px;
}
}
.sert{
  float: left;
  margin-right: 30px;
  margin-left: 30px;
  max-width: 100%;
}
.case{
  .sliderarrows{
    top:-115px;
  }
  .postcard{
    margin-bottom: 135px;
    &_pic{
      float: left;
      width: 500px;
      margin-right: 40px;
    }
    &_text{
      line-height: 1.6;
    }
    &_response{
      &_text{
        line-height: 1.6;
      }
    }
  }
}
.col-3x{
  width: 33.33%;
  float:left;
  margin-bottom: 75px;
}
.wraper{
  padding-left: 24%;
  padding-right: 24%;
}
.text{
padding-right: 45px;
padding-left: 45px;
}
.benefit{
  text-align: center;
  &_pic{
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    img{
      max-width: 100%;
    }
  }
}
}
}
.clearfix{
  &:before,&:after{
    content: '';
    display:table;
    width:100%;
    clear:both;
  }
}
.block_header{
  text-align: center;
  margin-bottom: 50px;
h2{
  text-transform: uppercase;
  color: rgb(51,51,51);
  font-size: 53px;
  margin-bottom: 20px;
  padding-top: 80px;
}
.red-line{
  background-image:url("../images/red_line.png");
  background-repeat: no-repeat;
  height: 15px;
  background-position:center; 
}
}
.text{
  color: rgb(51, 51, 51);
  text-align: center;
  margin-bottom: 45px;
}
.benefit{
  margin-bottom: 75px;
  margin: 0 10px;
  &_pic{  
    width: 260px;
    border-radius: 260px;
    background-color: rgb(242,242,242);
    padding-top: 19px;
      padding-left: 33px;
  }
  &_text{
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 23px;
    &_subtext{
      font-size: 17px;
    }
  }
}
.case{
background-image: url("../images/casefon.jpg");
background-size: cover;
background-repeat: no-repeat;
.postcard{
  background-color: white;
  padding: 10px 10px;
  &_pic{
    max-width: 100%;
  }
  &_text{

    margin-top: 30px;
    margin-right: 20px;
  }
  &_response{
    margin-top: 30px;
    &_pic{
      max-width: 100%;
      float: left;
      padding-right: 25px;
      margin-top: 5px;
    }
    &_text{
      margin-bottom: 4px;
    }
    &_name{
      color: rgb(204,0,0);
    }
  }
}
}
//arrows
.sliderarrows{
position: relative;
display: inline-block;
left: 50%;
margin-left: -42px; 
  .l{
    float: left;

  }
  .r{
    margin-left: 45px;
  }
}
a{
  display: block;
    &:hover{
    .arrow{
      border:1px solid red;
    }
    .liner{
      background-color: red;
    }
    .linel{
      background-color: red;
    }
    .arrow_left{
      &:after{
        background-color: red;
      }
      &:before{
        background-color:: red;
      }
    }
    .arrow_right{
      &:after{
        background-color: red;
      }
      &:before{
        background-color:: red;
      }
    }
  }
}
.arrow{
  position: relative;
  height: 40px;
  width: 40px;
  border:1px solid black;
  border-radius: 40px;
  &_left{
    &:after{
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background-color:black;
      top:14px;
      left: 11px;
      transform: rotate(-45deg);
    }
    &:before{
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background-color:black;
      top:22px;
      left: 11px;
      transform: rotate(-135deg);
    }
  }
  .linel{
    position: absolute;
    width: 15px;
    height: 1px;
    background-color:black;
    top:18px;
    left: 12px;
  }
  &_right{
    &:after{
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background-color:black;
      top:14px;
      left: 17px;
      transform: rotate(45deg);
    }
    &:before{
      content: "";
      position: absolute;
      width: 10px;
      height: 1px;
      background-color:black;
      top:22px;
      left: 17px;
      transform: rotate(135deg);
    }
}
  .liner{
    position: absolute;
    width: 15px;
    height: 1px;
    background-color:black;
    top:18px;
    left: 12px;
  }
}
.city{
  background-image: url("../images/cityfon.jpg");
  img{
    max-width: 100%;
  }
}
.input{
  background-image: url("../images/sofaroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  &_bg{
    background-color: rgba(0,0,0,0.6);
  }
  &_header{
    text-transform: uppercase;
    color: rgb(255,255,255);
    font-size: 61px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 85px;
  }
  &_subheader{
    color: rgb(255,255,255);
    font-size: 61px;
    text-align: center;
  }
  &_form{
    input{
      margin-top: 15px;
      height: 37px;
      outline: none;
      border:none;
    }
    &:focus{
      outline: none;
      border:1px solid red;
    }
    a{
      color:white;
      text-decoration: none;
      margin-top: 20px;
      font-size: 19px;
      background-color: red;
      padding: 14px 26px;
      display: inline-block;
      border:none;
      margin-bottom: 50px;
    }
  }

}