* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1920px; }

html {
  height: 100%; }

body {
  min-height: 100%; }

.show-p {
  display: block; }
  @media (min-width: 50em) {
    .show-p {
      display: none; } }

@media (min-width: 37.5em) {
  .col-p-3x-b {
    width: 100%;
    float: left; }
  .col-p-3x-r {
    width: 100%;
    float: right; }
  .col-d-3x-l {
    width: 100%;
    float: left; } }

@media (min-width: 50em) {
  .col-t-3x-b {
    width: 54%;
    float: left; }
  .col-t-3x-r {
    width: 64%;
    float: right; }
  .col-d-3x-l {
    width: 64%;
    float: left; } }

@media (min-width: 64em) {
  .col-l-3x-b {
    width: 62%;
    float: left; }
  .col-l-3x-r {
    width: 70%;
    float: right; }
  .col-d-3x-l {
    width: 70%;
    float: left; } }

@media (min-width: 70em) {
  .col-d-3x-b {
    width: 63%;
    float: left; }
  .col-d-3x-r {
    width: 70%;
    float: right; }
  .col-d-3x-l {
    width: 70%;
    float: left; } }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both; }

.font-family {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden; }

.advantages
.mack {
  background-image: url("../img/mack.jpg");
  background-height: 1000px;
  background-width: 100%; }

.wrapper {
  max-width: 1000px;
  margin: 0 auto; }

.advantages > .wrapper > h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 61px;
  font-family: 'Open Sans', sans-serif; }

.line {
  background-image: url("../img/line.png");
  background-repeat: no-repeat;
  height: 15px;
  margin-bottom: 80px;
  background-position: center; }

.buyfactory {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, rgba(245, 246, 241, 0.09)), color-stop(50%, #f5f6f1), color-stop(90%, rgba(245, 246, 241, 0.09)), to(transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%); }

.contentb {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  text-align: right;
  margin-right: 10px; }

.textb {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 110px;
  display: block;
  float: left;
  text-align: right; }

.shadowb {
  background-image: url("../img/elipsb.png");
  height: 360px;
  width: 360px;
  float: none;
  position: relative; }
  @media (min-width: 50em) {
    .shadowb {
      float: right;
      margin: 25px 0; } }

.imgfactory {
  background-image: url("../img/imgfactory.jpg");
  width: 290px;
  height: 290px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 35px;
  bottom: 0; }

.redb {
  background-image: url("../img/redb.png");
  height: 140px;
  width: 140px;
  position: absolute;
  left: 0;
  margin-left: -25px;
  bottom: 0; }

.factory {
  background-image: url("../img/factory.png");
  width: 53px;
  height: 60px;
  position: absolute;
  margin-bottom: 37px;
  margin-left: 40px;
  bottom: 0; }

.textr {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 70px;
  display: block;
  float: left; }

.contentr {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  max-width: 100%; }

.shadowl {
  background-image: url("../img/elips.png");
  height: 282px;
  width: 282px;
  float: none;
  padding-left: 36px;
  padding-top: 27px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }
  @media (min-width: 50em) {
    .shadowl {
      float: left; } }

.imgcop {
  background-image: url("../img/cop.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.redl {
  background-image: url("../img/red.png");
  height: 108px;
  width: 108px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -18px; }

.cop {
  background-image: url("../img/cop.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 20px; }

.documents {
  height: 100%;
  background-color: #f2f4f3; }

.textl {
  font-size: 29px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  padding-top: 70px;
  display: block;
  float: right;
  text-align: right; }

.contentl {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  padding-top: 35px;
  display: block;
  float: left;
  max-width: 100%;
  text-align: right; }

.shadowr {
  background-image: url("../img/elips.png");
  height: 282px;
  width: 282px;
  float: none;
  padding-left: 16px;
  padding-top: 27px;
  margin-top: 16px;
  margin-bottom: 16px;
  position: relative; }
  @media (min-width: 50em) {
    .shadowr {
      float: right; } }

.imgdocuments {
  background-image: url("../img/documents.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.redr {
  background-image: url("../img/red.png");
  height: 108px;
  width: 108px;
  position: absolute;
  bottom: 0;
  margin-left: -18px; }

.copstop {
  background-image: url("../img/copstop.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 20px; }

.imgarms {
  background-image: url("../img/arms.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.file {
  background-image: url("../img/file.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 30px; }

.advantages-right {
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(10%, rgba(245, 246, 241, 0.09)), color-stop(50%, #f5f6f1), color-stop(90%, rgba(245, 246, 241, 0.09)), to(transparent));
  background: -webkit-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -moz-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: -o-linear-gradient(left, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%);
  background: linear-gradient(to right, transparent 0%, rgba(245, 246, 241, 0.09) 10%, #f5f6f1 50%, rgba(245, 246, 241, 0.09) 90%, transparent 100%); }

.imgapartment {
  background-image: url("../img/apartment.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.sale30 {
  background-image: url("../img/sale30.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 22px;
  margin-left: 22px; }

.imgfeast {
  background-image: url("../img/feast.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.eat {
  background-image: url("../img/eat.png");
  width: 55px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 23px; }

.speak {
  height: 100%;
  background-color: #f2f4f3; }

.imgspeak {
  background-image: url("../img/speak.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.chat {
  background-image: url("../img/chat.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 21px;
  margin-left: 21px; }

.imgcalc {
  background-image: url("../img/calc.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.opt {
  background-image: url("../img/opt.png");
  width: 55px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  margin-left: 24px; }

.carry {
  height: 100%;
  background-color: #f2f4f3; }

.imgcarry {
  background-image: url("../img/carry.jpg");
  width: 230px;
  height: 230px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px; }

.plane {
  background-image: url("../img/plane.png");
  width: 53px;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 23px;
  margin-left: 20px; }

@media (max-width: 37.5em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 1140px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 37.5em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 900px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 50em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 850px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (min-width: 70em) {
  .bgform {
    background-image: url("../img/bg.jpg");
    width: 100%;
    height: 630px;
    padding-top: 80px;
    background-repeat: no-repeat; } }

@media (max-width: 37.5em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 900px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 37.5em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 770px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 50em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 750px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

@media (min-width: 70em) {
  .bg {
    background-image: url("../img/bgform.png");
    width: 100%;
    height: 470px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }

.bonus {
  font-size: 37px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 40px; }

@media (max-width: 37.5em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 37.5em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 50em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 100%; } }

@media (min-width: 70em) {
  .available {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: inline-block;
    border-right: 4px solid red;
    width: 555px; } }

.available > ul {
  list-style-type: none;
  padding-left: 45px; }

.available > ul > li:before {
  content: url("../img/a.jpg");
  position: relative;
  padding-right: 20px;
  vertical-align: text-bottom; }

@media (max-width: 37.5em) {
  .forms {
    text-align: center; } }

@media (min-width: 37.5em) {
  .forms {
    text-align: center; } }

@media (min-width: 50em) {
  .forms {
    text-align: center; } }

@media (min-width: 70em) {
  .forms {
    float: right;
    padding-right: 30px; } }

@media (max-width: 37.5em) {
  .forms > input {
    margin-top: 15px;
    width: 300px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 37.5em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 50em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

@media (min-width: 70em) {
  .forms > input {
    margin-top: 15px;
    width: 372px;
    height: 37px;
    outline: none;
    border: none; }
    .forms > input:focus {
      outline: none;
      border: 1px solid red; } }

.forms > a {
  text-decoration: none;
  margin-top: 30px;
  font-size: 19px;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background-color: red;
  padding: 14px 26px;
  display: inline-block;
  border: none;
  margin-bottom: 50px; }

.line:before {
  content: url("../img/mack.png");
  /* with class ModalCarrot ??*/
  position: relative;
  /*or absolute*/
  margin-left: 1060px; }

.imgfeast:before {
  content: url("../img/sacura.png");
  /* with class ModalCarrot ??*/
  position: relative;
  /*or absolute*/
  margin-left: -560px; }
