doctype
html
	head
		title Mebel expert
		include ./includes/_head.jade
	body.mobileonly.tablet.desktop
		.wraper
			.block_header
				h2 Мы гарантируем 
				.red-line
			.text
				| We truly care about your site as much as you do, which is why we offer amazing support at our dedicated support center. In addition, we offer free updates whith new features requested by our users. You can count on us.
			.col-3x
				.benefit
					.benefit_pic
						img(src="images/boxes.png" alt="boxes")
					.benefit_text
						| сохраность грузов
			.col-3x
				.benefit
					.benefit_pic
						img(src="images/sofa.png" alt="sofa")
					.benefit_text
						| качество продукта
			.col-3x
				.benefit
					.benefit_pic
						img(src="images/jude.png" alt="jude")
					.benefit_text
						| юредическая гарантия:
						.benefit_text_subtext
							| 1)Бесплатная консультацыя<br>
							| 2)Помощ при прощете стоимости<br>
							| 3)Каталог мебели
		.clearfix
		.case
			.wraper
				.block_header
					h2 кейсы:
					.red-line
				.postcard
					img(src="images/postcardpic.jpg").postcard_pic
					.postcard_text
						| <b>Many themes claim to have</b> a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don't. Avada truly offers a quick easy setup. Install the them click the demo it doesn't get ane easier, our demo content importer is a beauteful thing.<br>Avada truly offers a quick easy setup. Install the them click the demo it doesn't get ane easier, our demo content importer is a beauteful thing.
					.postcard_response
						img(src="images/icon.jpg").postcard_response_pic
						.postcard_response_text
							| Я в восторге от нашей новой кухни! Об этой фирме узнала от подруги, которая заказывала себе гарнитуру в квартиру....
						.postcard_response_name
							| Артем
						.clearfix
				.clearfix
				.sliderarrows
					a(href="#").l
						.arrow.arrow_left
							.linel
					a(href="#").r
						.arrow.arrow_right
							.liner
					.clearfix
		.wraper
			.block_header
				h2 сертификаты
				.red-line
			.col-3x
				.sert
					img(src="images/ser1.jpg")
			.col-3x
				.sert
					img(src="images/ser2.jpg")
			.col-3x
				.sert
					img(src="images/ser3.jpg")
			.clearfix
		.city
			.wraper
				.block_header
					h2 Достопримечательности города
					.red-line
				img(src="images/city.jpg")
		.wraper
			.sliderarrows
				a(href="#").l
					.arrow.arrow_left
						.linel
				a(href="#").r
					.arrow.arrow_right
						.liner
			.city_text
				| <b>Many themes claim to have</b> a quick setup, but leave you dealing with several XML files to manually import. Who wants to do that? We sure don't. Avada truly offers a quick easy setup. Install the them click the demo it doesn't get ane easier, our demo content importer is a beauteful thing.<br>Avada truly offers a quick easy setup. Install the them click the demo it doesn't ...
				.clearfix
		.input
			.wraper
				h2.input_header остались вопросы?
				h2.input_subheader Оставте заявку и получите ответы на вопросы
				.input_bg
					.input_form
						<form action="URL" method="POST/GET">
						<input type="text" placeholder="Ваше имя"><br>
						<input type="text" placeholder="Телефон"><br>
						<input type="text" placeholder="E-mail"><br>
						<br>
						</form>
						<a href="#">Получить сертификат