meta(charset="utf-8")
link(href="css/style.min.css", rel="stylesheet", type="text/css")
link(href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:100,400|Open+Sans&subset=cyrillic" rel="stylesheet")